body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.planetsWrapper {
  display: flex;
  flex-flow: row wrap;
}
.card {
  display: flex;
  flex-flow: row wrap;
  max-width: 250px;
  width: 250px;
  box-shadow: 1px 1px 2px #33333399;
  margin: 16px;
  padding: 8px;
}
.name {
  width: 100%;
  font-size: 18px;
  color: darkgoldenrod;
  font-weight: bold;
}
.unknown {
  font-size: 16px;
  color: tomato;
  font-weight: bold;
}
.population {
  font-size: 16px;
  color: darkcyan;
  font-weight: bold;
}
.label {
  color: black;
  font-size: 17px;
}